[submodule ".config/zsh/zsh-syntax-highlighting"]
	path = .config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/zsh/pure"]
	path = .config/zsh/pure
	url = https://github.com/sindresorhus/pure
[submodule ".config/zsh/zsh-completions"]
	path = .config/zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".config/alacritty/alacritty"]
	path = .config/alacritty/alacritty
	url = https://github.com/catppuccin/alacritty
[submodule ".config/alacritty/catppuccin"]
	path = .config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty
[submodule ".config/zathura/zathura"]
	path = .config/zathura/zathura
	url = https://github.com/catppuccin/zathura
