configuration {
	modi: "window,ssh,drun";
	font: "JetBrainsMono Nerd Font 18";
	show-icons: true;
        show-match: false;
	terminal: "alacritty";
	hide-scrollbar: true;
        display-drun: " ";
}

@theme "catppuccin-mocha"
