* {
    background-color:   rgba ( 41, 45, 62, 80 % );
    transparent:   rgba ( 41, 45, 62, 0 % );
    text-color:         rgba ( 255, 255, 255, 100 % );
    highlight: underline;
}

window {
    transparency: "real";
    width: 100%;
    height: 100%;
    padding: 35%;
}

element-text, element-icon, listview, mainbox, entry, element, prompt, inputbar, case-indicator {
    background-color: @transparent;
    text-color:       @text-color;
}

element {
    padding: 10px;
}
